
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#" ><h1>Dashboard</h1></a>

</nav>
<div class="btn-group-vertical" data-toggle="buttons" id="tabspane">
  <h3 class="text-info">Navigation</h3>
  <br>
  <button type="button" class="btn btn-primary bg-dark"><br>New post <br><br></button>
  <button type="button" class="btn btn-primary bg-dark"><br>Home Page<br><br></button>
  <button type="button" class="btn btn-primary bg-dark"><br>Charity works<br><br></button>
  <button type="button" class="btn btn-primary bg-dark"><br>Edit Packages<br><br></button>
  <button type="button" class="btn btn-primary bg-dark"><br>Contacts<br><br></button>
  <button type="button" class="btn btn-primary bg-dark"><br>Show Clients<br><br></button>
</div>
