
<flash-messages></flash-messages>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
<legend class="text-center header text-success">Write Some thing you want from the Package</legend>


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Your Name" class="form-control" name="nametxt" [(ngModel)]="nametxt">
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" name="emailtxt" [(ngModel)]="emailtxt">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Contact Number" class="form-control" name="contacttxt" [(ngModel)]="contacttxt">
                            </div>
                        </div>
                         <div class="form-group">
                          <label for="exampleFormControlSelect1">Select the Custom Package</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="select" [(ngModel)]="select">
                              <option selected="selected">Use Custom Package as Message</option>
                              <option>Hill Country Tour</option>
                              <option>Honeymoon Tours</option>
                              <option>Beach Tour</option>

                            </select>

                          </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Please describe your need in you word" rows="7" name="msgtxt" [(ngModel)]="msgtxt"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-success btn-lg bg-success" (click)="submitfunc()">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
