<html lang="en">
    <body>

        <header>
          <!-- Navbar -->
          <div id="hero">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
              <a class="navbar-brand" href="#">
                <p class="text-info"><strong>LIFEINSRILANKA</strong></p>
              </a>
              <link rel="stylesheet" type="text/css" herf="navbar.component.css">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"><p class="text-mute"><strong>Home </strong></p><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documentationpage"><p class="text-mute"><strong>Documentation</strong></p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/packagespage"><p class="text-muted"><strong>Package</strong></p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/charitypage"><p class="text-muted"><strong>Charity</strong></p></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutuspage"><p><a href="#" class="text-muted">About</a></p></a>
      </li>
    </ul>

                </div>
              </div>
            </nav>
          </div>
            <!-- Navbar -->
            <!-- Full Page Intro -->

            <!-- Full Page Intro -->
          </header>
          <!-- Main navigation -->
          <!--Main Layout-->

          <!--Main Layout-->

      </body>
  </html>
