 <app-navbar></app-navbar>





<div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Life in srilanka charity page </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">We have an abundance of meaningful volunteer opportunities available in Sri Lanka. You can choose from helping in an orphanage for children, working with elephants, and conservation projects.
                  .</h6>


                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="/assets/images/srilanka.png" alt="" class="img-fluid">
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->

        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">
                <p>Do you want to volunteer in Sri Lanka, home to many disadvantaged people? Do you want to make a difference in the lives of needy people?

Steep mountains, mysterious jungles, and crystal rivers, Sri Lanka has it all. Sri Lanka has beautiful scenery, friendly people, and colorful culture. It is a must-see experience!

Unfortunately, they are suffering in poverty and desperately need your help! Volunteer in Sri Lanka teaching English, working with environmental projects, or assist with health programs.

This is the perfect opportunity to help the needy while visiting a gorgeous country.</p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>

<h2 id="txtxt" class="text-warning">If You Like to be a part of this Charity works Please fill the form below and contact us</h2>
<hr>
















        <flash-messages></flash-messages>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            <fieldset>

        <legend class="text-center header text-success">If you like to join us to do More Charity works</legend>


                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="fname" name="name" type="text" placeholder="Your Name" class="form-control" name="nametxt" [(ngModel)]="nametxt">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" name="emailtxt" [(ngModel)]="emailtxt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="phone" name="phone" type="text" placeholder="Contact Number" class="form-control" name="contacttxt" [(ngModel)]="contacttxt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="message" name="message" placeholder="Please give us your feedback" rows="7" name="msgtxt" [(ngModel)]="msgtxt"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success btn-lg bg-success" (click)="submitfunc()">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<app-footer></app-footer>
