<div id = "contactdetails">


<div class="form-group col-sm-7">
    <label for="formGroupExampleInput">Post Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="titletxt" [(ngModel)]="titletxt">
  </div>

<div class="form-group col-sm-7">
      <label for="exampleFormControlTextarea1">Body</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="bodytxt" [(ngModel)]="bodytxt"></textarea>
</div>
<button type="button" class="btn btn-success col-sm-7" (click)="submitfunc()">Publish</button>

</div>
