<!-- Section: Blog v.2 -->
<section class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold"><a>LifeInSriLanka Packages</a></h2>
          <!-- Data -->
          <p>Written by <a><strong>Abby Madison</strong></a>, 26/08/2018</p>
          <!-- Social shares -->
          <div class="social-counters">
            <!-- Facebook -->
            <a class="btn btn-fb">
              <i class="fab fa-facebook-f pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Facebook</span>
            </a>
            <span class="counter">46</span>
            <!-- Twitter -->
            <a class="btn btn-tw">
              <i class="fab fa-twitter pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Twitter</span>
            </a>
            <span class="counter">22</span>
            <!-- Google+ -->
            <a class="btn btn-gplus">
              <i class="fab fa-google-plus-g pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Google+</span>
            </a>
            <span class="counter">31</span>
            <!-- Comments -->
            <a class="btn btn-default">
              <i class="far fa-comments pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Comments</span>
            </a>
            <span class="counter">18</span>
          </div>
          <!-- Social shares -->

        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->

      <!-- Excerpt -->
      <div class="mt-5">

        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque
          corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id
          est laborum et dolorum fuga quidem rerum facilis est distinctio.
        </p>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
          maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel
          eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus
          autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
          repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

      </div>

<!-- Card -->
<!--Projects section v.4-->
<section>

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

    <!--Grid row-->
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="purple-text"><i class="fas fa-plane"></i><strong> PACKAGE PAGE</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>PACKAES</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-secondary btn-rounded"><i class="far fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
         <!-- column--> -->

        <!--Grid column-->
        <!-- d column--> -->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->

<!-- Card -->
<br>
<!-- Card -->
<!-- <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);"> -->
  <!-- Card group -->
  <div class="card-group">

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Package one</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">package 2</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Package 3</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <br>
<p class="text-success">
    Fill the form get packagespage
    </p>
<app-form></app-form>
