<!-- Section: Blog v.2 -->





    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold"><a>LifeInSriLanka Packages</a></h2>
          <!-- Data -->
          
          <!-- Social shares -->

        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->

      <!-- Excerpt -->
      <div class="mt-5">

        <p>Going on vacation is an exciting time, whether for a romantic getaway, thrilling new adventure or a good old family holiday. Nkar travels and tours have an all-encompassing selection of Sri Lanka tour packages and holiday specials to fantastic locations across the pearl of the Indian Ocean.These include luxury hotels and spas, tours and other exciting excursions all produced to give an amazing holiday you will never forget.
Relax in Sri Lanka’s most beautiful hotels, and resorts in breathtaking surroundings. Any traveller will be pleased with our detailed programs planned to perfection. We possess the ideal resources and experience to ensure you and your families have an unforgettable vacation in Sri Lanka.
        </p>


      </div>

<!-- Card -->
<!--Projects section v.4-->
<section>

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our Packages</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Thanks for visiting Serendivus Tavel & Tours. Serendivus Tavel & Tours is one of the leading Sri Lankan Travel Agent and Inbound Tour Operator In Sri Lanka. Established in 2011, located in Havelock Town, Colombo Sri Lanka. Serendivus specialised in customised Sri Lanka tour packages, Sri Lanka tours vacations and holidays in Sri Lanka.</p>

    <!--Grid row-->
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="purple-text"><i class="fas fa-plane"></i><strong>Sri Lanka Holiday Tour Packages</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>PACKAES</strong></h3>
                        <p class="pb-3">Find perfect Sri Lanka tour package for you from below or ask for a customised quote from us now!.Get sri lanka tours prices from the most trusted tour companies in Sri Lanka

Let us know how we can help you, just send us an enquiry about your plans to visit Sri Lanka our team can help to create a customise itinerary for you.</p>
                        <a class="btn btn-secondary btn-rounded"><i class="far fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
         <!-- column--> -->

        <!--Grid column-->
        <!-- d column--> -->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->

<!-- Card -->
<br>
<!-- Card -->
<!-- <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);"> -->
  <!-- Card group -->
  <div class="card-group">

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Beach Tour</h4>
        <!-- Text -->
        <p class="card-text">12 nights/13 days of a classic beach holiday with the tropical tranquillity of coastal resorts, sunny beaches, and amazing seafood – as it is the ideal recipe for unforgettable Sri Lanka beach holidays.

Visit Kalpitiya and enjoy a day in the sun with water sports and dolphin watching, unwind further in the ocean surrounding Trincomalee with snorkelling, stopover in Passikuda for an adventurous water ski ride , surf your way to the top in Arugam Bay and look forward to relaxing in the sunny beaches of Hikkaduwa and Negombo.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Honeymoon Tours </h4>
        <!-- Text -->
        <p class="card-text">08 nights/09 days of an enthralling Honeymoon tour promising couple’s excitement and adventure featuring an elephant ride in Habarana , a Safari to the Minneriya National Park, a hike to the Sigiriya Fortress, a stopover at the elephant orphanage in Pinnawela, breakfast overlooking the misty hills in Nuwara Eliya and white water rafting in Kithulgala.

This tailor-made Honeymoon tours awaits honeymoon couples who are seeking not only a romantic getaway but an adventurous holiday as well, that will create a lifetime of beautiful memories.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Hill Country Tour</h4>
        <!-- Text -->
        <p class="card-text">These tailor made tours in Sri Lanka mainly cover four main tourists attractions which includes Kandy, Nuwara eliya, Bentota and Colombo. You will spend more time on sightseeing rather than staying and relaxing in a hotel room, you can explore the island at your own pace, in a car or minivan, with your personal English speaking driver-cum-guide.

The package originally designed for 04 nights/05 days. But we are always cater to our valuable clients requirements and it can be customized for different durations as per request.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->


      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <br>

<app-form></app-form>
