
<!-- Card -->
<!--Projects section v.4-->
<section>

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our best projects</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

    <!--Grid row-->
    <div class="row mx-1">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h6 class="purple-text"><i class="fas fa-plane"></i><strong> PACKAGE PAGE</strong></h6>
                        <h3 class="card-title py-3 font-weight-bold"><strong>PACKAES</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-secondary btn-rounded"><i class="far fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
         <!-- column--> -->

        <!--Grid column-->
        <!-- d column--> -->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->

<!-- Card -->
<br>
<!-- Card -->
<!-- <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);"> -->
  <!-- Card group -->
  <div class="card-group">

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Package one</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">package 2</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">Package 3</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary btn-md">Read more</button>

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <br>
<p class="text-success">
    Fill the form get packagespage
    </p>
<app-form></app-form>
