.bg {
  /* The image used */
  background-image: url("/assets/images/red-blue-abstraction-wallpapers-55626-5305602.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: 0 60% ;
  background-repeat: no-repeat;
  background-size: cover;

}
